#PAOGenerator{
    background-color: cadetblue;
    overflow: scroll;
}

#PAOGenerator th{
    font-size: 1rem;
}

#PAOGenerator input{
    border-radius: 5px;
}

nav{
    background-color: #89B5AF;
}

.container-fluid{
    padding: 0 !important;
    margin: 0 !important;
}

h1, h2{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

#section-1{
    background-color: #DED9C4;
    padding: 0;
    margin: 0;
}
p{
    font-size: 1.1rem;
 
}
#section-2{
    background-color: #96C7C1;
    padding: 0;
    margin: 0;
}

#PDFButton{
    margin-left: 50%;
    width: 7%;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro';
    border-radius: 10px;
    border: none;
    background-color: #89B5AF;
}

#section-3{
    background-color: #DED9C4;
    padding: 0;
    margin: 0;
}

#section-3 p, ul{
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 0;
    width: 100%;
    border: solid;
    text-align: left;
    outline: white;
    font-size: 15px;
    height: 150px;
    margin: 0;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding-left: 3px;
    padding-right: 3px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
    background-color: #f1f1f1;
  }

  footer{
    background-color: #89B5AF;
    height: 50px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    color: #fafafa;
  }