#PAOGenerator{
    background-color: cadetblue;
    overflow: scroll;
}

#PAOGenerator th{
    font-size: 1rem;
}

#PAOGenerator input{
    border-radius: 5px;
}

nav{
    background-color: cornflowerblue;
}